<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MenuDBConnectionError" 
			 connectionString="Server=.\MSSQLLocalDB;Database=MenuDataDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
		<add name="MenuDBConnection" 
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MenuDataDB;Integrated Security=True;Connect Timeout=10;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"  
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>